name: Pre-Merge Checks

on:
  pull_request:
    branches:
      - main
    paths-ignore:
      - "plugins/**"
      - "docs/**"
      - ".github/**"

jobs:
  check-lint-format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip ruff
          npm install -g cspell

      - name: Checking format and lint
        run: |
          ruff format --check
          ruff check

      - name: Checking spell errors
        run: cspell kaizo/* tests/* --no-progress

  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip uv
          uv sync --group test

      - name: Run tests
        run: uv run pytest -vv tests/*

  check-version:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Read version from pyproject.toml
        uses: maybe-hello-world/pyproject-check-version@v4
        id: versioncheck
        with:
          pyproject-path: "./pyproject.toml"

      - name: Show version comparison
        run: |
          echo "Local version:  ${{ steps.versioncheck.outputs.local_version }}"
          echo "PyPI version:   ${{ steps.versioncheck.outputs.public_version }}"
          echo "Local > PyPI ?: ${{ steps.versioncheck.outputs.local_version_is_higher }}"

      - name: Fail if version has not been bumped
        run: |
          if [ "${{ steps.versioncheck.outputs.local_version_is_higher }}" != "true" ]; then
            echo "❌ Version NOT bumped. Current version is not higher than PyPI."
            exit 1
          fi
          echo "✅ Version bump detected."
